<div class = "invitationForm">
<p>
  Name: <input type='text' name='full_name[]' placeholder='John Doe'></input><br>
  Phone Number: <input type='text' name='phone_number[]' placeholder='xxx-xxx-xxxx'></input>
  <button id='deleteButton'> Delete Guest</button>
</p>
</div>
