<div class = "invitationForm">
  <div id = "field_invites">
  <p id="p3">
    Name <input id="name" type='text' name='full_name[]' placeholder='John Doe'></input>  Phone Number <input id="phone_number" type='text' name='phone_number[]' placeholder='xxx-xxx-xxxx'><button id='deleteButton'>Delete</button></input>
  </p>
  </div>
</div>
