<div class = "invitationForm">
  <div class = "field">
  <p>
    Name: <input id="name" type='text' name='full_name[]' placeholder='John Doe'></input><br>
    Phone Number: <input id="phone_number" type='text' name='phone_number[]' placeholder='xxx-xxx-xxxx'></input>
    <button id='deleteButton'> Delete Guest</button>
  </p>
  </div>
</div>
