<div id ="submitting-thank-you">
  <%= render partial: "navbar" %></br></br>
  <div class = "submitting">
    <h1>Your invitations have been sent. Please wait for your friends to finish voting.</h1>
  </div>
</div>
