<body id="last-page">
   <%= render partial: "shared/navbar" %></br></br>
  <div id ="preference-thank-you-last">
    <h1>Thanks for Submitting!</h1></br>
    <p>As soon as everyone votes,</br> you'll receive a text with the final restaurant</p>
  </div>
</body>

