// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  text-align:center;
  margin:15em auto 15em auto;
}


.submitting {
  font-family: 'Raleway';
  text-align: center;
  margin-top: 25em;
  padding-bottom: 40em;
  color: white;
}

#submitting-thank-you {
  background-image: url("http://www.trbimg.com/img-5564c178/turbine/ct-dining-0528-summer-eating-list-20150526");
  background-size: 100% 100%;

}

