// Place all the styles related to the preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.navbar-text{
  font-size: 1.5em;
  text-align: left;
}
.home{
  margin-top: 15em;
}

.title{
  font-size: 2.5em;
  margin-bottom: 0em;
}

.preference-title{
  font-size: 3.5em;
  margin-bottom: 0em;
}

#filter-warning {
  font-weight: bold;
}

#vote-header{
  font-size: 2em;
  margin-top: 0em;
}

#error {
  color: red;
}


form#pref{
  margin-top: -10em;
}

.pref-label {
  font-size: 1em;
  font-weight: normal;
}

select {
  background-color: white;
  font-weight: normal;
}

.option {
  text-align: center;
  font-size: 2.5em;
}

.submit-btn {
  background-color: grey;
  font-size: 1em;
  margin-top: 1em;
}

.preferences {
  margin:12em auto 5em auto;
}

.preference-page {
  background-color: white;
}



.page {
  padding-top: 1em;
}

#preference-page {
  border-style: solid;
  border-radius: 8em;
  box-shadow: 10px 10px 5px #888888;
  margin: 5em 5em 5em 5em;
  background-color: #FF9900;
}


.thank-you {
  font-family: 'Raleway';
  text-align: center;
  margin-top: 25em;
  padding-bottom: 40em;
  color: white;
}

#preference-thank-you {
  background-image: url("http://www.trbimg.com/img-5564c178/turbine/ct-dining-0528-summer-eating-list-20150526");
  background-size: 100% 100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

}

.container {
  max-width: 60em;
}
